@import "~bootstrap/scss/bootstrap";
@import "~bootstrap/scss/mixins/_breakpoints";
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "../../../styles.scss";

$red: #de6959;

.timer {
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 1.4em;
}
.timer span {
    font-size: 68px;
    font-weight: 700;
    color: $red;
    font-family: "Copper-Bold";
    text-align: center;
    text-shadow: 0px 0px 40px #e04b36;

    @include media-breakpoint-down(md){
        font-size: 45px;
    }
}
