@import "~bootstrap/scss/bootstrap";
@import "~bootstrap/scss/mixins/_breakpoints";
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "../../../styles.scss";

$red: #de6959;
app-landing {
    .section-1-img {
        width: 100%;
        height: auto;
        object-fit: cover;
    }

    .section-2-control {
        position: relative;

        .bg-img {
            background-color: black;
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .text-control {
            z-index: 1;
            margin-top: 150px;
        }

        .text-white-invite {
            font-family: "Bold";
            font-size: 40px;
            font-weight: 700;
            color: white;
            text-align: center;
            text-shadow: 0px 0px 20px #ffffff;
        }

        .text-red-invite {
            margin-top: 24px;
            font-size: 96px;
            font-weight: 700;
            color: $red;
            font-family: "Bold";
            text-align: center;
            text-shadow: 0px 0px 20px #ffffff;
        }

        .border-video {
            margin-top: 183px;
            border: solid 1px $red;
            padding: 4px;
        }
    }

    .section-3-control {
        .bg-img {
            width: 100%;
            height: auto;
            object-fit: contain;
        }
    }

    .section-4-control {
        background-color: $red;
        padding-top: 112px;
        padding-bottom: 112px;

        .text-header {
            font-family: "Bold";
            font-size: 55px;
            font-weight: 700;
            color: white;
            text-align: center;
        }

        .text-desc {
            font-family: "Regular";
            margin-top: 17px;
            font-size: 15px;
            font-weight: 400;
            color: white;
            text-align: center;
        }

        .grid-control {
            margin-top: 44px;
            width: 100%;
            display: grid;
            grid-template-columns: 33% 33% 33%;

            .vdo-gif {
                margin-left: auto;
                margin-right: auto;
                width: 80%;
                height: auto;
                object-fit: contain;
            }

            .text-collecton {
                text-align: center;
                font-size: 18px;
                font-family: "Lora-Italic";
                color: white;
                margin-top: 21px;
            }

            .text-name {
                font-family: "Bold";
                font-size: 34px;
                font-weight: 700;
                color: white;
                text-align: center;
                text-shadow: 0px 0px 20px #ffffff;
            }

            .text-total-nft {
                margin-top: 4px;
                font-family: "Lora-Regular";
                font-size: 15px;
                color: white;
                text-align: center;
            }

            .text-date {
                font-family: "Lora-Regular";
                font-size: 20px;
                color: white;
                text-align: center;
            }
        }
    }

    .section-5-control {
        padding-top: 500px;
        background-image: url(../../../assets/img/landing/section-5-bg.jpg);
        background-position: top center;
        background-repeat: no-repeat;
        background-size: cover;

        .text-white {
            font-family: "Bold";
            font-size: 96px;
            font-weight: 700;
            color: white;
            text-align: center;
            text-shadow: 0px 0px 20px #ffffff;
        }

        .text-white-desc {
            font-family: "Lora-Regular";
            font-size: 15px;
            font-weight: 700;
            color: white;
            text-align: center;
        }

        .tribe-control {
            margin-top: 86px;

            .tribe-1-control {
                width: 360px;
            }
            .tribe-2-control {
                margin-top: -120px;
                width: 360px;
                margin-left: auto;
            }

            .tribe-3-control {
                width: 360px;
                margin-left: auto;
                margin-right: auto;
            }

            .tribe-4-control {
                width: 360px;
                margin-left: 10%;
            }

            .tribe-5-control {
                margin-top: -120px;
                width: 360px;
                margin-left: auto;
                margin-right: 15%;
            }
            .tribe-text {
                font-family: "Bold";
                font-size: 34px;
                font-weight: 700;
                color: white;
                text-align: center;
                text-shadow: 0px 0px 20px #ffffff;
            }

            .tribe-grid {
                margin-top: 14px;
                width: auto;
                display: grid;
                grid-template-columns: 33% 33% 33%;

                .tribe-img {
                    width: 120px;
                    height: 120px;
                    object-fit: contain;
                }
            }
        }

        .img-bottom {
            width: 574px;
            height: 574px;
            margin-top: 191px;
            object-fit: contain;
            margin-left: auto;
            margin-right: auto;
        }

        .img-logo-hotel {
            width: auto;
            height: 264px;
            object-fit: contain;
            margin-left: auto;
            margin-right: auto;
            margin-top: -80px;
        }

        .grid-bottom-control {
            margin-top: 69px;
            display: grid;
            grid-template-columns: 30% 39% 30%;

            .border-control {
                width: 100%;
                border: solid 1px $red;
                height: 253px;
            }

            .text-control {
                display: flex;
                flex-direction: column;
                .text-header {
                    text-align: center;
                    font-size: 18px;
                    font-family: "Lora-Italic";
                    color: white;
                    margin-top: 21px;
                }

                .text-red {
                    font-size: 40px;
                    font-weight: 700;
                    color: $red;
                    font-family: "Bold";
                    text-align: center;
                    text-shadow: 0px 0px 20px #ffffff;
                }
            }

            .text-center {
                display: flex;
                flex-direction: column;
                height: 125px;
                .text-header {
                    text-align: center;
                    font-size: 18px;
                    font-family: "Lora-Italic";
                    color: white;
                    margin-top: 21px;
                }

                .text-red {
                    font-size: 33px;
                    font-weight: 700;
                    color: $red;
                    font-family: "Bold";
                    text-align: center;
                    text-shadow: 0px 0px 20px #ffffff;
                }
            }

            .divider-red {
                width: 100%;
                height: 1px;
                background-color: $red;
            }

            .border-center-control {
                width: 90%;
                margin-left: auto;
                margin-right: auto;
                border: solid 1px $red;
            }
        }
        .text-count-down {
            margin-top: 72px;
            font-size: 40px;
            font-weight: 700;
            color: white;
            font-family: "Bold";
            text-align: center;
            text-shadow: 0px 0px 20px #ffffff;
        }
    }

    .section-6-control {
        .roadmap-img {
            width: 100%;
            height: auto;
            object-fit: contain;
        }
    }

    .section-7-control {
        .partner-img {
            width: 100%;
            height: auto;
            object-fit: contain;
        }
    }

    .section-8-control {
        background-color: $red;
        padding-top: 112px;
        padding-bottom: 112px;

        .text-header {
            font-family: "Bold";
            font-size: 55px;
            font-weight: 700;
            color: white;
            text-align: center;
        }

        .grid-control{
            margin-top: 50px;
            display: grid;
            grid-template-columns: 25% 25% 25% 25%;

            .item-control{
                width: 80%;
                height: auto;
                margin-left: auto;
                margin-right: auto;
                display: flex;
                flex-direction: column;

                .profile-img{
                    width: 100%;
                    height: auto;
                    object-fit: contain;
                }

                .profile-name{
                    margin-top: 14px;
                    font-size: 30px;
                    font-weight: 700;
                    color: white;
                    font-family: "Bold";
                    text-align: center;
                    text-shadow: 0px 0px 20px #ffffff;
                }

                .profile-position{
                    margin-top: 14px;
                    font-size: 15px;
                    font-weight: 700;
                    color: white;
                    font-family: "Lora-Regular";
                    text-align: center;
                }
            }
        }
    }
}
