@import "~bootstrap/scss/bootstrap";
@import "~bootstrap/scss/mixins/_breakpoints";
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "../../../styles.scss";

$red: #de6959;
app-landing {
    .section-1-img {
        width: 100%;
        height: auto;
        object-fit: cover;
    }

    .section-2-control {
        position: relative;

        @include media-breakpoint-down(md){
            padding-bottom: 100px;
        }

        .bg-img {
            background-color: black;
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: cover;

            @include media-breakpoint-down(md){
                object-fit: cover;
                height: 742px;
            }
        }

        .text-control {
            z-index: 1;
            margin-top: 150px;
        }

        .text-white-invite {
            font-family: "Copper-Bold";
            font-size: 40px;
            font-weight: 700;
            color: white;
            text-align: center;
            text-shadow: 0px 0px 20px #ffffff;

            @include media-breakpoint-down(md) {
                font-size: 32px;
            }
        }
        .text-white-invite-1 {
            font-size: 45px !important;

            @include media-breakpoint-down(md) {
                font-size: 33px;
            }
        }


        .text-red-invite {
            margin-top: 24px;
            font-size: 96px;
            font-weight: 700;
            color: $red;
            font-family: "Copper-Bold";
            text-align: center;
            text-shadow: 0px 0px 40px #E04B36;

            @include media-breakpoint-down(md) {
                font-size: 68px;
            }
        }

        .border-video {
            margin-top: 183px;
            border: solid 1px $red;
            padding: 4px;
            margin-bottom: 100px;
        }
    }

    .section-3-control {
        .bg-img {
            width: 100%;
            height: auto;
            object-fit: contain;
        }
    }

    .section-4-control {
        background-color: $red;
        padding-top: 112px;
        padding-bottom: 112px;

        .text-header {
            font-family: "Copper-Bold";
            font-size: 55px;
            font-weight: 700;
            color: white;
            text-align: center;

            @include media-breakpoint-down(md) {
                font-size: 40px;
            }
        }

        .text-desc {
            font-family: "Lora-Regular";
            margin-top: 17px;
            font-size: 15px;
            font-weight: 400;
            color: white;
            text-align: center;

            @include media-breakpoint-down(md) {
                font-size: 14px;
            }
        }

        .grid-control {
            margin-top: 44px;
            width: 100%;
            display: grid;
            grid-template-columns: 33% 33% 33%;

            @include media-breakpoint-down(md) {
                grid-template-columns: 100%;
            }

            .vdo-gif {
                margin-left: auto;
                margin-right: auto;
                width: 80%;
                height: auto;
                object-fit: contain;

                @include media-breakpoint-down(md){
                    margin-top: 57px;
                }
            }

            .text-collecton {
                text-align: center;
                font-size: 18px;
                font-family: "Lora-Italic";
                color: white;
                margin-top: 21px;
                @include media-breakpoint-down(md){
                    font-size: 16px;
                }
            }

            .text-name {
                font-family: "Copper-Bold";
                font-size: 34px;
                font-weight: 700;
                color: white;
                text-align: center;
                text-shadow: 0px 0px 20px #ffffff;
                @include media-breakpoint-down(lg){
                    font-size: 22px;
                }
                @include media-breakpoint-down(md){
                    font-size: 34px;
                }
            }

            .text-total-nft {
                margin-top: 4px;
                font-family: "Lora-Regular";
                font-size: 15px;
                color: white;
                text-align: center;
                
                @include media-breakpoint-down(md){
                    font-size: 14px;
                }
            }

            .text-date {
                font-family: "Lora-Regular";
                font-size: 20px;
                color: white;
                text-align: center;
                @include media-breakpoint-down(md){
                    font-size: 18px;
                }
            }
        }
    }

    .section-5-control {
        padding-top: 500px;
        background-image: url(../../../assets/img/landing/section-5-bg.jpg);
        background-position: top center;
        background-repeat: no-repeat;
        background-size: cover;
        @include media-breakpoint-down(lg){
            padding-top: 180px;
        }
        @include media-breakpoint-down(md){
            padding-top: 180px;
        }

        .mint-now-button{
            cursor: pointer;
            height: 99px;
            width: auto;
            object-fit: contain;
            margin-left: auto;
            margin-right: auto;
            margin-top: 52px;
            margin-bottom: 100px;
        }

        .text-white {
            font-family: "Copper-Bold";
            font-size: 96px;
            font-weight: 700;
            color: white;
            text-align: center;
            text-shadow: 0px 0px 20px #ffffff;

            @include media-breakpoint-down(md) {
                font-size: 68px;
            }
        }

        .text-white-desc {
            font-family: "Lora-Regular";
            font-size: 15px;
            font-weight: 700;
            color: white;
            text-align: center;
            @include media-breakpoint-down(lg) {
                font-size: 17px;
            }
            @include media-breakpoint-down(md) {
                font-size: 14px;
            }
        }

        .tribe-control {
            margin-top: 86px;

            .tribe-img{
                width: 100%;
                height: auto;
                object-fit: contain;
                margin-top: 40px;
            }


            .tribe-1-control {
                width: 360px;

                @include media-breakpoint-down(lg) {
                    margin-left: auto;
                    margin-right: auto;
                }
            }
            .tribe-2-control {
                margin-top: -120px;
                width: 360px;
                margin-left: auto;
                @include media-breakpoint-down(lg) {
                    margin-left: auto;
                    margin-right: auto;
                    margin-top: 40px;
                }
            }

            .tribe-3-control {
                width: 360px;
                margin-left: auto;
                margin-right: auto;
                @include media-breakpoint-down(lg) {
                    margin-left: auto;
                    margin-right: auto;
                    margin-top: 40px;
                }
            }

            .tribe-4-control {
                width: 360px;
                margin-left: 10%;
                @include media-breakpoint-down(lg) {
                    margin-left: auto;
                    margin-right: auto;
                    margin-top: 40px;
                }
            }

            .tribe-5-control {
                margin-top: -120px;
                width: 360px;
                margin-left: auto;
                margin-right: 15%;
                @include media-breakpoint-down(lg) {
                    margin-left: auto;
                    margin-right: auto;
                    margin-top: 40px;
                }
            }
            .tribe-text {
                font-family: "Copper-Bold";
                font-size: 34px;
                font-weight: 700;
                color: white;
                text-align: center;
                text-shadow: 0px 0px 20px #ffffff;

                @include media-breakpoint-down(md) {
                    font-size: 32px;
                }
            }

            .tribe-grid {
                margin-top: 14px;
                width: auto;
                display: grid;
                grid-template-columns: 33% 33% 33%;

               

                .tribe-img {
                    width: 120px;
                    height: 120px;
                    object-fit: contain;

                    @include media-breakpoint-down(lg){
                        width: 300px;
                        height: auto;
                    }

                    @include media-breakpoint-down(md){
                        width: 120px;
                    height: 120px;
                    }
                }
            }
        }

        .img-bottom {
            width: 574px;
            height: 574px;
            margin-top: 191px;
            object-fit: contain;
            margin-left: auto;
            margin-right: auto;

            @include media-breakpoint-down(md){
                margin-top: 100px;
                width: 100%;
            }
        }

        .img-logo-hotel {
            width: auto;
            height: 264px;
            object-fit: contain;
            margin-left: auto;
            margin-right: auto;
            margin-top: -80px;

            @include media-breakpoint-down(md){
                height: auto;
                width: 100%;
                margin-top: -35%;
            }
        }

        .grid-bottom-control {
            margin-top: 55px;
            margin-left: auto;
            margin-right: auto;
            width: 90%;
            display: grid;
            grid-template-columns: 30% 39% 30%;

            @include media-breakpoint-down(md){
                grid-template-columns: 100%;
            }

            .border-control {
                width: 100%;
                border: solid 1px $red;
                min-height: 253px;
            }

            .text-control {
                display: flex;
                flex-direction: column;
                .text-header {
                    text-align: center;
                    font-size: 18px;
                    font-family: "Lora-Italic";
                    color: white;
                    margin-top: 21px;
                }

                .text-red {
                    font-size: 40px;
                    font-weight: 700;
                    color: $red;
                    font-family: "Copper-Bold";
                    text-align: center;
                    text-shadow: 0px 0px 20px #ff1f00;
                }
            }

            .text-center {
                display: flex;
                flex-direction: column;
                height: 50%;
                padding-top: 16px;
                padding-bottom: 16px;


                .text-header {
                    text-align: center;
                    font-size: 18px;
                    font-family: "Lora-Italic";
                    color: white;
                    margin-top: 21px;
                    @include media-breakpoint-down(md){
                        font-size: 16px;
                    }
                }

                .text-red {
                    font-size: 33px;
                    font-weight: 700;
                    color: $red;
                    font-family: "Copper-Bold";
                    text-align: center;
                    text-shadow: 0px 0px 20px #ff1f00;

                    @include media-breakpoint-down(md){
                        font-size: 36px;
                    }
                }
            }

            .divider-red {
                width: 100%;
                height: 1px;
                background-color: $red;
            }

            .border-center-control {
                width: 90%;
                height: auto;
                margin-left: auto;
                margin-right: auto;
                border: solid 1px $red;

                @include media-breakpoint-down(md){
                    width: 100%;
                    margin-top: 29px;
                    margin-bottom: 29px;
                }
            }
        }
        .text-count-down {
            margin-top: 72px;
            font-size: 40px;
            font-weight: 700;
            color: white;
            font-family: "Copper-Bold";
            text-align: center;
            text-shadow: 0px 0px 20px #ffffff;

            @include media-breakpoint-down(md){
                font-size: 34px;
            }
        }
    }

    .section-6-control {
        .roadmap-img {
            width: 100%;
            height: auto;
            object-fit: contain;
        }
    }

    .section-7-control {
        .partner-img {
            width: 100%;
            height: auto;
            object-fit: contain;
        }
    }

    .section-8-control {
        background-color: $red;
        padding-top: 112px;
        padding-bottom: 112px;

        .text-header {
            font-family: "Copper-Bold";
            font-size: 55px;
            font-weight: 700;
            color: white;
            text-align: center;
            @include media-breakpoint-down(lg){
                font-size: 40px;
                margin-bottom: 50px;
            }
            @include media-breakpoint-down(md){
                font-size: 40px;
            }
        }

        .grid-control {
            margin-top: 50px;
            display: grid;
            grid-template-columns: 25% 25% 25% 25%;

            @include media-breakpoint-down(lg){
                grid-template-columns: 50% 50%;
                margin-top: 0px;
            }

            @include media-breakpoint-down(md){
                grid-template-columns: 50% 50%;
                margin-top: 0px;
            }

            .item-control {
                width: 80%;
                height: auto;
                margin-left: auto;
                margin-right: auto;
                display: flex;
                flex-direction: column;
                @include media-breakpoint-down(lg){
                    width: 70%;
                    margin-top: 24px;
                }
                @include media-breakpoint-down(md){
                    width: 90%;
                    margin-top: 24px;
                }

                .profile-img {
                    width: 100%;
                    height: auto;
                    object-fit: contain;
                }

                .profile-name {
                    margin-top: 14px;
                    font-size: 30px;
                    font-weight: 700;
                    color: white;
                    font-family: "Copper-Bold";
                    text-align: center;
                    text-shadow: 0px 0px 20px #ffffff;
                    @include media-breakpoint-down(md){
                        font-size: 22px;
                    }
                    @include media-breakpoint-down(md){
                        font-size: 20px;
                    }
                }

                .profile-position {
                    margin-top: 14px;
                    font-size: 15px;
                    font-weight: 700;
                    color: white;
                    font-family: "Lora-Regular";
                    text-align: center;
                    @include media-breakpoint-down(md){
                        font-size: 15px;
                    }
                    @include media-breakpoint-down(md){
                        font-size: 14px;
                    }
                }
            }
        }
    }

    .section-9-control {
        background: url(../../../assets/img/landing/section-9-bg.jpg);
        background-position: top;
        background-size: cover;
        background-repeat: no-repeat;

        .lite-paper-button {
            cursor: pointer;
            width: 353px;
            height: 109px;
            object-fit: contain;
            margin-top: 117px;

         
        }

        .text-our-marketplace {
            margin-top: 104px;
            font-size: 40px;
            font-weight: 700;
            color: $red;
            font-family: "Copper-Bold";
            text-align: center;
            text-shadow: 0px 0px 20px #ff1f00;

            @include media-breakpoint-down(md){
                font-size: 32px;
            }
        }

        .button-marketplace-control {
            margin-top: 25px;
            display: flex;
            flex-direction: row;
            margin-left: auto;
            margin-right: auto;

            @include media-breakpoint-down(md){
                flex-direction: column;
            }

            .button-marketplace {
                cursor: pointer;
                height: 56px;
                width: auto;
                object-fit: contain;
                margin-left: 24px;
                margin-right: 24px;

                @include media-breakpoint-down(md){
                    margin-top: 18px;
                    height: 38px;
                }
            }
        }

        .social-grid-control {
            margin-top: 25px;
            width: 306px;
            margin-left: auto;
            margin-right: auto;
            display: grid;
            grid-template-columns: 25% 25% 25% 25%;
            

            .social-icon {
                cursor: pointer;
                width: 42px;
                height: 32px;
                object-fit: contain;
                margin-left: auto;
                margin-right: auto;

                @include media-breakpoint-down(md){
                    height: 24px;
                }
            }
        }

        .text-copy-right {
            margin-top: 171px;
            font-family: "Lora-Regular";
            font-size: 13px;
            color: white;
            text-align: center;
            margin-bottom: 40px;
        }
    }
    vg-overlay-play .vg-overlay-play {
        display: flex;
    }
    vg-overlay-play .vg-overlay-play .overlay-play-container.vg-icon-play_arrow {
        color: $red !important;
        width: 80px;
        height: 80px;
        margin-left: auto;
        margin-right: auto;
        margin-top: auto;
        margin-bottom: auto;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
    }

    .vg-icon-play_arrow {
        border: solid 2px $red;
        border-radius: 50%;
    }
}
