 <div class="section-title">
        <!-- <span class="sub-title">Shop</span> -->
    <span><br/><br/></span>
    </div>

    <div  class="section-title">
        <span style="font-family:BebasNeue-Regular; src: local(BebasNeue-Regular) ;color:#DE6859;text-transform:uppercase;font-size:40px">Our Collection
            </span>
    </div>
<div class="container">
    <table style="width:100%">
        <tr>
            <td>
                <div>
                    <img src="assets/img/loop.gif" alt="image" width="540px" >
                </div>
            </td>
            <td>
                <div >
                    <div>
                        <a href="#">
                        <img src="assets/img/btnmint.png" alt="image" width="400x" >
                        </a>
                    </div>
                    <span style="font-family:Merriweather-Regular; src: local(Merriweather-Regular) ;font-size:20px"><br/>Pre-sale Date : soon <br/>Public Sale : soon
                        <br/></span>
                    <div id="STORY">
                        <span style="font-family:Merriweather-Regular; src: local(Merriweather-Regular) ;font-size:20px">1 SOL<img src="assets/img/token.png" alt="image" width="40" height="40">  <br/>  Total Volume 10,000 </span>
                    </div>
                    


                </div>
            </td>


        </tr>
    </table>
</div>

<div class="container">
    <span style="font-family:Merriweather-Regular; src: local(Merriweather-Regular) ;"><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;If you coincidentally found us, your life journey may have been challenging.
        You might be a bit wasted, could use more sleep, and might not be in your best shape, but we welcome you with open arms!
        <br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;It appears that when your physical body travels forward at a certain speed, but your mind is still stuck in the traumatized past, We appear! Exclusively for you! We really wish we could take you back to your past, reverse time,  fix all the burned bridges, but sadly we are not time travelers. (Those people charge an exorbitant amount, and their method is quite questionable )
         <br/>
    </span>
  

    <div class="section-title">
        <!-- <span class="sub-title">Shop</span> -->
            <span><br/><br/></span>
        <span style="font-family:BebasNeue-Regular; src: local(BebasNeue-Regular) ;color:#DE6859;text-transform:uppercase;font-size:40px"><br/>NFT Collection<br/></span>
    </div>

    <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-6">
            <div class="single-products-box">
                <div class="products-image">
                    <!-- <a routerLink="/single-products" class="d-block"><img src="assets/img/princess-budbblegum-art-nouvea_co@2x.png" alt="image"></a>
                     <a routerLink="/" class="add-to-cart-btn">Add To Cart</a>
                     -->
                    <img src="assets/img/hem1.png" alt="image">
                 </div>

                 <div class="products-content">
                     <!--<h3><a routerLink="/single-products">Lorem ipsum dolor sit amet,</a></h3>
                     -->
                     <h3>Hotel de Mentía,</h3>
                     <span class="price">1 SOL<img src="assets/img/token.png" alt="image" width="40" height="40"></span>
                 </div>
             </div>
         </div>

         <div class="col-lg-3 col-md-4 col-sm-6">
             <div class="single-products-box">
                 <div class="products-image">
                     <!-- <a routerLink="/single-products" class="d-block"><img src="assets/img/princess-budbblegum-art-nouvea_co@2x.png" alt="image"></a>
                     <a routerLink="/" class="add-to-cart-btn">Add To Cart</a>
                     -->
                     <img src="assets/img/hem2.png" alt="image">
                 </div>

                 <div class="products-content">
                     <!--<h3><a routerLink="/single-products">Lorem ipsum dolor sit amet,</a></h3>
                     -->
                     <h3>Hotel de Mentía,</h3>
                     <span class="price">1 SOL<img src="assets/img/token.png" alt="image" width="40" height="40"></span>
                 </div>
             </div>
         </div>

         <div class="col-lg-3 col-md-4 col-sm-6">
             <div class="single-products-box">
                 <div class="products-image">
                     <!-- <a routerLink="/single-products" class="d-block"><img src="assets/img/princess-budbblegum-art-nouvea_co@2x.png" alt="image"></a>
                     <a routerLink="/" class="add-to-cart-btn">Add To Cart</a>
                     -->
                     <img src="assets/img/hem3.png" alt="image">
                 </div>

                 <div class="products-content">
                     <!--<h3><a routerLink="/single-products">Lorem ipsum dolor sit amet,</a></h3>
                     -->
                     <h3>Hotel de Mentía,</h3>
                     <span class="price">1 SOL<img src="assets/img/token.png" alt="image" width="40" height="40"></span>
                 </div>
             </div>
         </div>

         <div class="col-lg-3 col-md-4 col-sm-6 offset-lg-0 offset-md-4">
             <div class="single-products-box">
                 <div class="products-image">
                     <!-- <a routerLink="/single-products" class="d-block"><img src="assets/img/princess-budbblegum-art-nouvea_co@2x.png" alt="image"></a>
                     <a routerLink="/" class="add-to-cart-btn">Add To Cart</a>
                     -->
                     <img src="assets/img/hem4.png" alt="image">
                 </div>

                 <div class="products-content">
                     <!--<h3><a routerLink="/single-products">Lorem ipsum dolor sit amet,</a></h3>
                     -->
                     <h3>Hotel de Mentía,</h3>
                     <span class="price">1 SOL<img src="assets/img/token.png" alt="image" width="40" height="40"></span>
                 </div>
             </div>
         </div>

        <span style="font-family:Merriweather-Regular; src: local(Merriweather-Regular) ;"><br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Once you enter our lovely hotel, our concierge will offer you an exquisite package that provides you with our hotel's specialty; a new skin with new memories; we're talking about real-life human memories and a cozy 4-star room. Once you've settled in, please put on the new skin. After you start wearing your unique skin, your old memories will slowly be replaced with new, heartwarming memories. The longer you wear it, the more you become the 'new' you. No more regrets, shame, guilt, or anything that disturbs you. Also, no more YOU! You won't have to exist in this cruel world anymore! You can enjoy your new life, Luxury rooms, Spa, the underground bar, the beach, really anything within the hotel area. As long as you stay with us, You will never feel pain again.
<br/><br/>
We gladly welcome you, and we hope you will never want to leave.

 <br/></span>
     </div>

     <div align="center">
        <span><br/><br/></span>
     <img src="assets/img/roadmap.png" alt="image">
    
     </div>


     <div class="section-title">
         <!-- <span class="sub-title">Shop</span> -->
        <span><br/><br/></span>
        <span style="font-family:BebasNeue-Regular; src: local(BebasNeue-Regular) ;color:#DE6859;text-transform:uppercase;font-size:40px"><br/>Survival thriller game launch this July<br/></span>
    </div>
    <img src="assets/img/Mask_Group_1.png" alt="image">
    <!--<img src="assets/img/gamedownload.png" alt="image">
  -->

   <div align="center">
       <!--
    <img src="assets/img/roadmap.png" alt="image">
    -->
    </div>
    <div id="STORY">
    <span style="font-family:Merriweather-Regular; src: local(Merriweather-Regular) ;">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;The game is based on the guests that checked into the mysterious hotel to escape their past trauma, After realizing that the hotel is not what they thought. Guests tried to escape the hotel. but in doing so they need to go through dungeons, collect memory keys to remember who they were, then fight through the different stages of grief.
        <br/></span>
    <span style="font-family:Merriweather-Regular; src: local(Merriweather-Regular) ;">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Everyone has experienced pain. The hotel guests are stuck here, in their sorrow because they cannot accept the consequences of their actions. Once they defeat the boss and accept the consequences, they are free to move on 
            for better, or for worse …. 
            </span>


     <div  class="section-title">
        <span><br/><br/></span>
            <span style="font-family:BebasNeue-Regular; src: local(BebasNeue-Regular) ;color:#DE6859;text-transform:uppercase;font-size:40px">GAMEPLAY
             </span>
    </div>       
    <span style="font-family:Merriweather-Regular; src: local(Merriweather-Regular) ;">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3D Endless Running Game where the NFT character is running through the stages of overcoming grief; guilt, grief, regrets, rumination and consequence The game style is level-based, with treasure-hunting and ranking.
        </span>
            
    <div  class="section-title">
        <span><br/><br/></span>
        <span style="font-family:BebasNeue-Regular; src: local(BebasNeue-Regular) ;color:#DE6859;text-transform:uppercase;font-size:40px">Community
            </span>
    </div>
    <span style="font-family:Merriweather-Regular; src: local(Merriweather-Regular) ;">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Chatroom features will later be integrated into the game, to support the idea of rebirth and enlightenment. At the end of gameplay, the winners will be able to join the chatroom where they gather to talk about each specific mental issue in their life. This function will be merit-based where players can vote on others based on their story and learnings.

        </span>
<span style="font-family:Merriweather-Regular; src: local(Merriweather-Regular) ;"><br><br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;We would never leave our guests hanging ! After much contemplation, we have decided to drop surprises along the way to the loyal guests of Hotel De Mentía which will be announced through our Twitter and Discord. As they say, ‘Great things come to those who wait’, so be patient and see what else we have in store for you!

        </span>


    </div>

    <div class="section-title">
        <!-- <span class="sub-title">Shop</span> -->
        <span><br/><br/></span>
    </div>
    <div align="center">
        <div>
            <a href="assets/img/hoteldementia_litepaper.pdf">
                <img src="assets/img/btnlitepaper.png" alt="image" width="300x" >
            </a>
        </div>
    </div>



</div>

