<div class="main-banner jarallax" data-jarallax='{"speed": 0.3}'>
    <div class="container">
        <div class="main-banner-content">
            <!--    <span class="sub-title wow fadeInLeft" data-wow-delay="00ms" data-wow-duration="1000ms">Enjoy The Game</span>-->
               <div class="logo wow fadeInUp" data-wow-delay="00ms" data-wow-duration="1000ms">
            <!--       <img src="assets/img/zelda.png" alt="image">  -->
            <!-- </div><h6 class="wow fadeInRight" data-wow-delay="00ms" data-wow-duration="1000ms"><span style= "font-family:Soria ; font-size: 25px;">Have you ever made a mistake in your life ?<br/>Do you want to forget those bad memories ?</span></h6>-->
            <div id="STORY">
                <span style="font-family:BebasNeue-Regular;color:#DE6859;text-transform:uppercase;font-size:40px">Welcome to Hotel de Mentía<br/>
                    What past brings you here?
                    </span>
                    <section class="social-area pt-70 pb-10">
                        <app-social></app-social>
                    </section>
            </div>
        </div>
        <div class="banner-video-slides owl-carousel owl-theme">
            <div class="banner-video-box">
                <img src="assets/img/video.png" alt="image">

                <div class="content">
                    <a href="https://www.youtube.com/watch?v=_bTxbPrPCOs" class="video-btn popup-youtube"><i class="flaticon-play"></i></a>

                </div>
            </div>
        </div>
        <div class="container">

    <div class="main-banner-content">
        <div id="STORY">
            <span style="font-family:BebasNeue-Regular; src: local(BebasNeue-Regular) ;color:#DE6859;text-transform:uppercase;font-size:40px"><br/>OUR STORY</span>
        </div>

        <div>
            <span style="font-family:Merriweather-Regular; src: local(Merriweather-Regular) ;"><br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Are you going through a difficult time right now? Please sit down and relax. Hotel de Mentía offers a  unique experience for the exhausted traveler, alone and in anguish, haunted by the past and petrified of the tomorrow yet to come.
            We serve our honored guests by believing that 'nothing lasts forever, even grief'. We can end your heartache in a swish. Our experienced staff and lady of the house will expertly end all your suffering once you check in with us! It's okay to disappear until you feel better again.<br/> No more sadness, voila!
       </span>


        </div>
    </div>

    <div class="main-banner-content">
        <div id="STORY">
            <span style="font-family:BebasNeue-Regular; src: local(BebasNeue-Regular) ;color:#DE6859;text-transform:uppercase;font-size:40px"><br/>More than NFT</span>
        </div>
        <div id="STORY">
            <span style="font-family:BebasNeue-Regular; src: local(BebasNeue-Regular) ;color:#F15922;text-transform:uppercase;font-size:45px">Mental health retreat NFT project
                </span>
        </div>
       
    </div>

    <div class="main-banner-content">
        <div id="STORY">
            <span style="font-family:BebasNeue-Regular; src: local(BebasNeue-Regular) ;color:#DE6859;text-transform:uppercase;font-size:40px"><br/> YOU AREN’T IN THIS ALONE</span>
        </div>

        <div>
            <span style="font-family:Merriweather-Regular; src: local(Merriweather-Regular) ;"><br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;A community for people who are in pain and trying to escape reality through a game. This project will provide anonymity in the gameplay and chat room for people to express themselves and ignite hope together.
       </span>


        </div>
    </div>

    <div class="main-banner-content">
        <div id="STORY">
            <span style="font-family:BebasNeue-Regular; src: local(BebasNeue-Regular) ;color:#DE6859;text-transform:uppercase;font-size:40px"><br/>NEW WAY OF HEALING</span>
        </div>

        <div>
            <span style="font-family:Merriweather-Regular; src: local(Merriweather-Regular) ;"><br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;We believe the gameplay and NFT community can be the new way for better mental health. Partnering with mental healthcare professions, we will try our best to create a community of healing, hoping, and living.
       </span>


        </div>
    </div>
    <div class="main-banner-content">
        <div id="STORY">
            <span style="font-family:BebasNeue-Regular; src: local(BebasNeue-Regular) ;color:#DE6859;text-transform:uppercase;font-size:40px"><br/>horror to happiness</span>
        </div>

        <div>
            <span style="font-family:Merriweather-Regular; src: local(Merriweather-Regular) ;"><br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Every story doesn’t necessarily start off great, but together we will find a good ending in a horrific story. This collection will provide mechanics that holders can turn the original NFTs into a ‘healed’ version that is rarer and more unique.
       </span>


        </div>
    </div>
    

    </div>
    </div>
</div>
